<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <div id="apiUrl" data-url="<%= apiUrl %>"></div>
    <script src="/js/signup.js"></script>
  </head>
  <body>
    <div
      class="d-flex flex-column vh-100 align-items-center justify-content-center gap-2"
    >
      <form
        id="signUpForm"
        class="d-flex flex-column col-9 col-sm-6 col-md-5 col-lg-4 col-xl-3 gap-2"
      >
        <div class="d-flex flex-column">
          <label id="signupEmailLabel" for="signupEmail" class="d-none">
            Email
          </label>
          <input
            type="email"
            id="signupEmail"
            name="signupEmail"
            placeholder="Email"
          />
        </div>
        <div class="d-flex flex-column">
          <label id="usernameLabel" for="username" class="d-none">
            Email
          </label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="d-flex">
          <input
            type="password"
            id="signupPassword"
            name="signupPassword"
            placeholder="Password"
            class="w-100"
          />
          <button
            id="eye"
            class="btn btn-outline-secondary btn-sm"
            type="button"
          >
            <%- include("eye") %>
          </button>
          <button
            id="eyeClosed"
            class="btn btn-outline-secondary btn-sm d-none"
            type="button"
          >
            <%- include("eyeclosed") %>
          </button>
        </div>
        <button type="submit" id="signupButton" class="btn btn-warning">
          Sign Up
        </button>
      </form>
      <a href="/" class="col-9 col-sm-6 col-md-5 col-lg-4 col-xl-3"
        ><button id="loginTrigger" class="btn btn-primary w-100">
          Back to Login
        </button></a
      >
    </div>
  </body>
</html>
